accelerate==1.4.0
backports.tarfile==1.2.0
db-dtypes==1.4.3
google-cloud==0.34.0
google-cloud-bigquery==3.36.0
google-cloud-bigquery-storage==2.33.0
grpcio-status==1.74.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.collections==5.1.0
mypy==1.11.2
nltk==3.9.1
pip-chill==1.0.3
platformdirs==4.2.2
ruff==0.12.7
tomli==2.0.1
transformers==4.44.2
